python==3.8
asn1crypto==0.24.0
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
cryptography==2.1.4
cssselect==1.1.0
enum34==1.1.6
fake-useragent==0.1.11
idna==2.10
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
lxml==4.6.3
parse==1.19.0
pycrypto==2.6.1
pygobject==3.26.1
pyquery==1.4.3
pyxdg==0.25
requests==2.25.1
requests-html==0.2.2
SecretStorage==2.3.1
six==1.11.0
soupsieve==1.9.6
urllib3==1.26.4
